/*! nouislider - 12.1.0 - 10/25/2018 */
.noUi-target,.noUi-target *{-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-ms-touch-action:none;touch-action:none;-ms-user-select:none;-moz-user-select:none;user-select:none;-moz-box-sizing:border-box;box-sizing:border-box}.noUi-target{position:relative;direction:ltr}.noUi-base,.noUi-connects{width:100%;height:100%;position:relative;z-index:1}.noUi-connects{overflow:hidden;z-index:0}.noUi-connect,.noUi-origin{will-change:transform;position:absolute;z-index:1;top:0;left:0;height:100%;width:100%;-ms-transform-origin:0 0;-webkit-transform-origin:0 0;transform-origin:0 0}html:not([dir=rtl]) .noUi-horizontal .noUi-origin{left:auto;right:0}.noUi-vertical .noUi-origin{width:0}.noUi-horizontal .noUi-origin{height:0}.noUi-handle{position:absolute}.noUi-state-tap .noUi-connect,.noUi-state-tap .noUi-origin{-webkit-transition:transform .3s;transition:transform .3s}.noUi-state-drag *{cursor:inherit!important}.noUi-horizontal{height:18px}.noUi-horizontal .noUi-handle{width:34px;height:28px;left:-17px;top:-6px}.noUi-vertical{width:18px}.noUi-vertical .noUi-handle{width:28px;height:34px;left:-6px;top:-17px}html:not([dir=rtl]) .noUi-horizontal .noUi-handle{right:-17px;left:auto}.noUi-target{background:#FAFAFA;border-radius:4px;border:1px solid #D3D3D3;box-shadow:inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB}.noUi-connects{border-radius:3px}.noUi-connect{background:#3FB8AF}.noUi-draggable{cursor:ew-resize}.noUi-vertical .noUi-draggable{cursor:ns-resize}.noUi-handle{border:1px solid #D9D9D9;border-radius:3px;background:#FFF;cursor:default;box-shadow:inset 0 0 1px #FFF,inset 0 1px 7px #EBEBEB,0 3px 6px -3px #BBB}.noUi-active{box-shadow:inset 0 0 1px #FFF,inset 0 1px 7px #DDD,0 3px 6px -3px #BBB}.noUi-handle:after,.noUi-handle:before{content:"";display:block;position:absolute;height:14px;width:1px;background:#E8E7E6;left:14px;top:6px}.noUi-handle:after{left:17px}.noUi-vertical .noUi-handle:after,.noUi-vertical .noUi-handle:before{width:14px;height:1px;left:6px;top:14px}.noUi-vertical .noUi-handle:after{top:17px}[disabled] .noUi-connect{background:#B8B8B8}[disabled] .noUi-handle,[disabled].noUi-handle,[disabled].noUi-target{cursor:not-allowed}.noUi-pips,.noUi-pips *{-moz-box-sizing:border-box;box-sizing:border-box}.noUi-pips{position:absolute;color:#999}.noUi-value{position:absolute;white-space:nowrap;text-align:center}.noUi-value-sub{color:#ccc;font-size:10px}.noUi-marker{position:absolute;background:#CCC}.noUi-marker-sub{background:#AAA}.noUi-marker-large{background:#AAA}.noUi-pips-horizontal{padding:10px 0;height:80px;top:100%;left:0;width:100%}.noUi-value-horizontal{-webkit-transform:translate(-50%,50%);transform:translate(-50%,50%)}.noUi-rtl .noUi-value-horizontal{-webkit-transform:translate(50%,50%);transform:translate(50%,50%)}.noUi-marker-horizontal.noUi-marker{margin-left:-1px;width:2px;height:5px}.noUi-marker-horizontal.noUi-marker-sub{height:10px}.noUi-marker-horizontal.noUi-marker-large{height:15px}.noUi-pips-vertical{padding:0 10px;height:100%;top:0;left:100%}.noUi-value-vertical{-webkit-transform:translate(0,-50%);transform:translate(0,-50%,0);padding-left:25px}.noUi-rtl .noUi-value-vertical{-webkit-transform:translate(0,50%);transform:translate(0,50%)}.noUi-marker-vertical.noUi-marker{width:5px;height:2px;margin-top:-1px}.noUi-marker-vertical.noUi-marker-sub{width:10px}.noUi-marker-vertical.noUi-marker-large{width:15px}.noUi-tooltip{display:block;position:absolute;border:1px solid #D9D9D9;border-radius:3px;background:#fff;color:#000;padding:5px;text-align:center;white-space:nowrap}.noUi-horizontal .noUi-tooltip{-webkit-transform:translate(-50%,0);transform:translate(-50%,0);left:50%;bottom:120%}.noUi-vertical .noUi-tooltip{-webkit-transform:translate(0,-50%);transform:translate(0,-50%);top:50%;right:120%}
/*! Левая часть ***/
.col-left .page-sidebar {z-index: 1;height: 100%;padding: 0px;}
.col-left .block {margin-bottom: 30px;}
.col-left .block:last-child {margin-bottom: 0;}
.col-left .block > .title {margin: 13px 0 10px;font-size: 22px;font-weight: 700;line-height: 1.2;}
.col-left .block > .title a:hover {color: #caa462;}
@media all and (max-width: 1199px){
  /* .col-left .page-sidebar._catalog {display: none;} */
  .col-left .block.catalog {display: none;}
}
@media all and (max-width: 991px){
  .col-left .page-sidebar {padding-bottom: 0;border-right: 0;margin-bottom: 0px;}
}
/*! Правая часть ***/
.page-content.no-padding {padding: 0;}
.page-content.no-padding #page-title {padding: 0;}

/*! Быстрые категории **/
.col-left .block.quick-category {
  background: rgba(0,0,0,.2);  
}
.col-left .block.quick-category > .title {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  padding-left: 15px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 0;
  margin-bottom: 20px;
}
.col-left .block.quick-category .quick-category-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
  padding-bottom: 14px;
}

.col-left .block.quick-category .quick-category-item:hover {
  border-color: #caa462;
  color: #caa462;  
}
.col-left .block.quick-category .quick-category-item {
  padding: 5px;
  border: 1px solid rgb(206 197 191 / 50%);
  margin-right: 6px;
  margin-bottom: 6px;
  transition: all .3s;
}

@media all and (max-width: 1199px){
  .col-left .block.quick-category {display: none;}
}
/*! Каталог **/
.col-left .block .content {padding: 0;overflow: hidden}
.col-left .block .content ul {margin: 0;padding: 0;list-style: none;list-style-position: inside}
.col-left .block.catalog > .title {
  text-transform: uppercase;
  font-weight: 400;
  padding-top: 20px;
  padding-left: 15px;
  margin: 0;
  margin-bottom: 28px;
  pointer-events: none;
}
.col-left .block.catalog > .content {
  padding-bottom: 15px;
}
@media(max-width: 991px){
  .col-left .block.catalog > .content {display:none}
  .col-left .block.catalog > .title {
    display: block;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 0;
    border-radius: 5px;
    cursor: pointer;
    pointer-events: all;    
  }
  .col-left .block.catalog > .title._active {border-bottom:0}
  .col-left .block.catalog > .title._active .open-sub:before {content:"keyboard_arrow_down";}
  .col-left .block.catalog .open-sub {display:block;position:absolute;right:5px;top:18px;padding:5px;background:transparent;cursor:pointer;}
  .col-left .block.catalog .open-sub:before {    content: "keyboard_arrow_right"; font-family: 'Material Icons';   display:block;width:16px;height:16px;line-height:16px;text-align:center}
}
.col-left .block.catalog {padding: 0;border-radius: 0;background: rgba(0,0,0,.2);}
.col-left .block.catalog .content ul li {position: relative;margin-bottom: 0px;}
.col-left .block.catalog .content ul li:last-child {margin-bottom: 0;}
.col-left .block.catalog .content > ul > li:first-child a {padding-top: 0;}
.col-left .block.catalog .content ul li a {display: block;position: relative;text-transform: none;font-size: 16px;line-height: 1;padding: 12px 15px;color: #CEC5BF;padding-right: 26px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.col-left .block.catalog .content ul li._current a::before,
.col-left .block.catalog .content ul li a::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background-color: #caa462;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 3px;
  opacity: 0;
  transition: all .3s;
}
.col-left .block.catalog .content ul li._current > a::before {opacity: 1;}
.col-left .block.catalog .content ul li a:hover::before {opacity: 1;}
.col-left .block.catalog .content ul li a.active, .col-left .block.catalog .content ul li a:hover {color: #caa462;}
.col-left .block.catalog .content ul li a img {width: 30px;height: 30px;margin-right: 5px;display: none;}
.col-left .block.catalog .content ul li .open-sub {display: block;position: absolute;right: 5px;top: 8px;padding: 5px;background: transparent;cursor: pointer;font-family: "FontAwesome";font-size: 18px;}
.col-left .block.catalog .content ul li .open-sub.active:before {content: "keyboard_arrow_down";}
.col-left .block.catalog .content ul li .open-sub:hover {color: #caa462;}
.col-left .block.catalog .content ul li .open-sub:before {content: "keyboard_arrow_right";font-family: 'Material Icons';display: block;width: 16px;height: 16px;line-height: 16px;text-align: center;}
.col-left .block.catalog .content ul.sub li.parent .open-sub {
  top: 0;
}
.col-left .block.catalog .content ul li ul li a {
  padding-left: 25px;
  font-size: 14px;
  padding: 5px 25px;  
}
.col-left .block.catalog .content ul li ul li li a {padding-left: 35px;}
.col-left .block.catalog .content ul li .count {display: none;vertical-align: middle;min-width: 20px;height: 20px;padding: 0 4px;margin-left: 5px;font-size: 11px;line-height: 20px;text-align: center;border-radius: 10px;color: #5d7483;background-color: #f1f1f1}
/*! Товары ***/
.toolbar {position: relative;z-index: 21;float: left;width: 100%;padding: 0;margin: 0;margin-bottom: 30px;}
.toolbar .pages {display: none;}
.toolbar.bottom {margin-top: 20px;}
.toolbar.bottom .pages {display: block;border-left: 0;padding-left: 0px;margin: auto;}
.toolbar.bottom .sort-by {display: none}
.toolbar .OrderFilterForm {display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between}

.view-mode {display: flex;margin-left: 30px;}
.view-mode .view-mode-btn {display: flex;width: 23px;line-height: 15px;cursor: default;text-align: center;font-size: 17px;border-radius: 0px;background: transparent;}
.view-mode .view-mode-btn .material-icons {
  margin: auto;
}
.view-mode a.view-mode-btn {cursor: pointer;}
.view-mode .view-mode-btn:last-child {margin-left: 10px;}
.view-mode .view-mode-btn.active {color: #caa462;background-color: transparent;}
.view-mode .view-mode-btn:not(.active):hover {background-color: transparent;color: #caa462;opacity: .7;}
@media(max-width: 1199px){
  .view-mode {margin-left: auto}
}
.sort-by {display: flex;align-items: center;background: transparent;}
.sort-by .jq-selectbox {max-width: 230px;}
@media(max-width: 375px){
  .sort-by .jq-selectbox {
    max-width: 180px;
  }
}
.sort-by label, .show-by label {display: inline-block;vertical-align: middle;font-size: 16px;margin-right: 15px;}
.sort-by select, .show-by select {height: 30px;line-height: 30px;margin: 0;padding: 0 9px;cursor: pointer;border: 1px solid #ccd8df;}
.sort-by select {max-width: 300px;}

.show-by {display: flex;align-items: center;background: transparent;margin-left: auto;}
.show-by .jq-selectbox {max-width: 75px;}
.show-by select {max-width: 90px;}

.toolbar .jq-selectbox__select {
  background: none;
  border-color: transparent;
  color: #caa462;
}
.toolbar .jq-selectbox li.selected,
.toolbar .jq-selectbox li.sel  {
  color: #201e22;
  background-color: #e7e2df;
  font-weight: bold;
}
.toolbar .jq-selectbox li.sel::after {
  content: 'done';
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;  
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;  
}
.toolbar .jq-selectbox li {
  padding: 10px 10px 10px;
}
.toolbar .jq-selectbox li:hover {
  color: #201e22;
  background-color: #e7e2df;
}
.toolbar .jq-selectbox.opened .jq-selectbox__select {border-color: transparent;}
.toolbar .jq-selectbox.opened .jq-selectbox__dropdown {border-color: transparent;border: none;border-radius: 0;}
.toolbar .jq-selectbox__trigger-arrow {background-image: url("data:image/svg+xml,%3Csvg fill='%23caa462' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 451.846 451.847'%3E%3Cpath d='M345.441 248.292L151.154 442.573c-12.359 12.365-32.397 12.365-44.75 0-12.354-12.354-12.354-32.391 0-44.744L278.318 225.92 106.409 54.017c-12.354-12.359-12.354-32.394 0-44.748 12.354-12.359 32.391-12.359 44.75 0l194.287 194.284c6.177 6.18 9.262 14.271 9.262 22.366 0 8.099-3.091 16.196-9.267 22.373z'/%3E%3C/svg%3E")}

.toolbar ::-webkit-scrollbar-track {border-radius: 0;background-color: #edf1f4}
.toolbar ::-webkit-scrollbar {width: 0px;height: 0px;background-color: #f5f5f5}
.toolbar ::-webkit-scrollbar-thumb {border-radius: 0;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);background-color: #2e2e2e}
@media(max-width: 481px){
  .toolbar .jq-selectbox.opened .jq-selectbox__dropdown {
    left: 0!important;
  }
}
@media(max-width: 375px){
  .toolbar .jq-selectbox__select {padding-left: 10px;}
  .toolbar .jq-selectbox.opened .jq-selectbox__dropdown {
    max-width: 300px;
  }
}
/*! Навигация **/
.pages {float: right;margin: 0;padding: 0;list-style: none;list-style-position: inside;}
.pages ol {display: block;margin: 0;padding: 0;font-size: 0;}
.pages li {display: inline-block;vertical-align:middle;width: 30px;height: 30px; margin-bottom: 5px;cursor: default;text-align: center;background-color: transparent;border-radius: 0px;border: 1px solid transparent;}
.pages li:not(:last-child) {margin-right: 10px}
.pages li.current {background-color: transparent;border: 1px solid #caa462;color: #caa462;}
.pages li:not(.current):hover {border: 1px solid rgb(206 197 191 / 20%);}
.pages li a, .pages li span {display: block;height: 100%;position: relative;font-size: 15px;line-height: 30px;vertical-align: middle;border: 0;text-align: center;    font-family: 'Roboto Condensed', sans-serif;}
.pages li:last-child a, .pages li:last-child:hover a, .pages li:last-child span, .pages li:last-child:hover span  {border-right: 0;}
.pages li span {border: 0;color: #cec5bf;}
.pages li.current span {cursor: default;color: #caa462;}
.pages li .fal {padding: 0;margin: 0;font-size: 15px;line-height: 28px;}
/*! Фильтры **/
.filters {display: block;width: 100%;background-color: rgba(0,0,0,.2);padding: 0;color: #cec5bf;}
.col-left .filters > .title {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;  
  padding-left: 15px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 0;
}
.filters .title {display: block;position: relative;margin-top: 0;width:100%;padding: 0;padding-right: 20px;text-align: left;margin-bottom: 15px;font-size: 16px;font-weight: bold;color: #cec5bf;}
.filters .filter:last-child .title.active {margin-bottom: 0;}
.filters .title-name {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.filters .filter-reset {
  display: none;
  vertical-align: middle;
  font-size: 14px;
  transition: all .3s ease;
  opacity: 0.5;
  text-decoration: underline;
  color: #cec5bf;
  font-weight: normal;  
  cursor: pointer;
}
.filters .filter-reset:hover {
  color: #caa462
}
.filters .title .filter-arrow {position: absolute;top: 50%;margin-top: -10px;right: 0;transition: -webkit-transform .15s ease-in-out;-webkit-transition: -webkit-transform .15s ease-in-out;transition: transform .15s ease-in-out;transition: transform .15s ease-in-out,-webkit-transform .15s ease-in-out;transition: transform .15s ease-in-out,-webkit-transform .15s ease-in-out;cursor: pointer;}
.filters .title .filter-arrow:hover {
  color: #caa462
}
.filters .title .filter-arrow::before {
  content: "keyboard_arrow_down";
  font-family: 'Material Icons';
  font-weight: normal;
}
.filters .title.active .filter-arrow::before {content: "keyboard_arrow_right";}
.col-left .filters > .content {padding: 20px 15px;}
.filters-goods .filter {display: block;margin-bottom: 30px;}
.filters-goods .filter:last-child {margin-bottom: 0px;}
.filters-goods .filter-inner.crop {max-height: 300px;overflow: hidden;}
.filters-goods .filter-more {padding-top:10px;display: block;width: 100%;}
.filters-goods .filter-more.active .filter-moreArrow {-webkit-transform: rotate(-180deg);transform: rotate(-180deg)}
.filters-goods .title.active ~ .filter-more {display: none}
.filters .filter-inner .filter-item:not(:last-child) {padding-bottom: 15px}
.filters .filter-search {
  width: 100%;
  height: 40px;
  background-color: #1e1d21;
  border: 1px solid rgb(206 197 191 / 50%);
  padding-left: 14px;
  margin-bottom: 20px;
}
.filters .filter-search:focus {
  color: #cec5bf;
  border-color: #caa462;
}

.filters .filter-search::-webkit-input-placeholder {color: rgb(206 197 191 / 50%);font-size: 14px;}
.filters .filter-search::-moz-placeholder {color: rgb(206 197 191 / 50%);font-size: 14px;}
.filters .filter-search:-ms-input-placeholder {color: rgb(206 197 191 / 50%);font-size: 14px;}

.filters .filter-inner .filter-item .fal {display: inline-block;margin-left: 10px;width: 16px;height: 16px;line-height: 16px;text-align: center;color: #cec5bf;opacity: .5;border: 1px solid rgb(206 197 191 / 50%);border-radius: 50%;font-size: 10px;}
.filters .filter-inner .filter-item .counter {display: inline-block;vertical-align: middle;padding: 0;font-size: 14px;line-height: 20px;text-align: center;border-radius: 10px;}
.filters-goods .filter label {display: inline-block;margin-bottom: 0px;text-transform: lowercase;font-size: 14px;}
.filters-goods .filter select {height: 30px;border: 1px solid #dce4e9;padding: 0 5px;}
.filters-goods .filter select:focus {border: 1px solid #2e2e2e;}
/* .filters .filters-goods-active {display: none !important;;} */
.filters .filters-goods-active #filters-reset {margin: 10px auto;display: block}
.filters .filters-goods-active .filter-inner .filter-item .counter {margin-top: -3px;}
.filters-goods-active {margin-bottom: 15px}
.filters-price {margin-bottom: 30px;}

#goods-filter-price-slider.noUi-target {height: 2px;margin: 25px 10px 30px;background: #c1c1c1;box-shadow: none;border: 0;}
#goods-filter-price-slider.noUi-horizontal .noUi-handle {background: #ffffff;top: -3px;cursor: pointer;outline: 0;border: 2px solid#caa462;box-shadow: none;border-radius: 5px;width: 8px;height: 8px;background-color: #caa462;}
#goods-filter-price-slider .noUi-handle:after, .noUi-handle:before {content: none;}
#goods-filter-price-slider .noUi-connect {background:#caa462;}
#goods-filter-price-slider.noUi-horizontal .noUi-handle.noUi-handle-lower {right: -8px;}
#goods-filter-price-slider.noUi-horizontal .noUi-handle.noUi-handle-upper {right: 0;}

.filters-price .layout-slider {text-align: center;margin: 0 auto 10px;max-width: 300px;}
.filters-price .layout-slider .filter-ranges {display: flex;    justify-content: center;}
.filters-price .layout-slider .filter-range-col {position:relative;display: flex;align-items: center;}
.filters-price .layout-slider .filter-range-col:last-child {margin-left: 10px;}
.filters-price .layout-slider .filter-range-label {position: static;top: 50%;transform: none;left: 15px;margin-right: 9px;}
.filters-price .layout-slider .input {
  max-width: 80px;
  height: 27px;
  display:inline-block;
  text-align: left;
  font-size: 14px;
  line-height: 37px;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #1e1d21 ;
  border: 1px solid rgb(206 197 191 / 50%);
  border-radius: 0;
  color: #cec5bf;
}
.filters-price .layout-slider .input:focus {
  box-shadow: none;
  border-color: #caa462;
}
.filters-price .layout-slider .price-separator {display: none;;margin: 0 7px;}

.goodsFilterPriceSubmit {margin-top: 30px;}
.goodsFilterPriceSubmit .button {max-width: 150px;}

@media all and (max-width: 1199px) {
  .filters-price .layout-slider .input {max-width: 90px}
  .filters-price .layout-slider .price-separator {margin: 0 4px}
}
@media all and (min-width: 1200px) {
  .filters > .content {display: block!important;}
}
@media all and (max-width: 1199px) {
  .toolbar.bottom .sort-by {display: none;}
  .col-left .block {margin-bottom:10px;}  
  .col-left .filters {padding-top: 0}
  .filters-price .layout-slider .input {max-width: 125px}
  .filters-price .layout-slider .price-separator {margin: 0 7px}
  .col-left .filters > .title {display: none;position: relative;color: #fff;background-color:#caa462;padding: 6px 20px;border-radius: 5px;;cursor: pointer}
  .col-left .filters > .title .fal {display: inline-block;vertical-align: middle}
  .col-left .filters > .title._active::before {content:'';display:block;position:absolute;top:5px;left:5px;width:10px;height:10px;background:#f65e64;border-radius:50%}
  .filters-goods .filter:last-child {
    margin-bottom: 0;
  }
  .filters .title {
    color: #201e22;
    margin-bottom: 0;
  }
  .col-left .page-sidebar .filters .content {width: 100%;position: fixed;
    top: -1000%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background:  #e7e2df;
    padding: 0px;
    color: #201e22;
    transition: top .3s cubic-bezier(0,1,.63,1);
    visibility: hidden;
  }
  .col-left .page-sidebar .filters .content._active {
    top: 0;
    visibility: visible;
  }
  .col-left .page-sidebar .filters .content-title {
    height: 50px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    font-size: 22px;
    border-bottom: 0;
    padding: 15px;
    background-color: #caa462;
    margin-bottom: 0;
  }
  .col-left .block .content .content-title .content-close-btn {
    position: static;
    line-height: 1;
    width: auto;
    height: 24px;
    margin-right: 12px;
  }
  #filters-form {
    overflow-x: auto;
    height: 100%;
    padding: 15px;
    padding-bottom: 60px
  }
  #goods-filter-price-slider.noUi-target {padding: 0 10px;}
  .filters-price .layout-slider .input {
    color: #201e22;
  }
  .filters .filter-search {
    color: #201e22;
    margin-top: 30px;
  }
  .filters-price .layout-slider {
    max-width: 100%;
  }
}
@media all and (max-width: 481px) {
 .filters-price .layout-slider .input {max-width: 90px}
  #goods-filter-price-slider.noUi-horizontal .noUi-handle.noUi-handle-lower {right: 0}
  #goods-filter-price-slider.noUi-horizontal .noUi-handle.noUi-handle-upper {right: -20px} 
}

.filters._toolbar {
  display: none;
  position: relative;
  background-color: transparent;
  margin-top: 15px;
}
.filters._toolbar .title {
  display: none;
}
.filters._toolbar .filter-inner {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.filters._toolbar .filter-item {
  height: 27px;
  background-color: #1e1d21;
  border: 1px solid rgb(206 197 191 / 50%);
  padding: 5px 11px;
  font-size: 14px;
  transition: all .3s;
  cursor: pointer;
}
.filters._toolbar .filter-item:not(:first-child){margin-left: 5px;}
.filters._toolbar .filter-item:hover {
  border: 1px solid rgb(206 197 191 / 100%);
}
.filters .filter-inner .filter-item:hover .material-icons {
  opacity: 1;
}
.filters .filter-inner .filter-item .material-icons {
  font-size: 16px;
  color: #cec5bf;
  opacity: .5;
  margin-left: 10px;
  transition: all .3s;
}
.filters._toolbar .filter-item {
  display: flex;
}
.filters._toolbar .filter-item .counter {display: none;}
.filters._toolbar .filter-inner .filter-item:not(:last-child) {padding-bottom: 0;}
.filters-btn {
  display: inline-block;
  vertical-align: middle;
  width: 95px;
  height: 27px;
  background-color: #caa462;
  color: #ffffff;
}
.filters-btn-text {
  font-size: 14px;  
}
.filters-btn-inner {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 10px;
}
.filters-form {
  display: inline-block;
  vertical-align: middle;
}
@media(min-width: 1200px){
  .filters-btn {
    display: none;
  }
}
@media(max-width: 1199px){
  .filters._toolbar {
    display: block!important;
  }
}
/*! Товары списком **/
.products-list {margin: 0;padding: 0;list-style: none;list-style-position: inside}
.products-list .item {position: relative;overflow: hidden;margin-bottom: 30px;}
.products-list .item .item-inner {padding: 5px;background-color: transparent;border: 1px solid transparent;    background: rgba(0,0,0,.2);transition: all .3s;}
.products-list .item:hover .item-inner {
  border: 1px solid rgb(206 197 191 / 50%);
  background: rgba(0,0,0,.5);
}
.products-list .item .item-inner .goodsListForm {display: -webkit-box;display: -ms-flexbox;display: flex}
.products-list .item:last-child {margin-bottom: 0;border: 0;-webkit-box-shadow: none;box-shadow: none}

.products-list .item .product-image {position: relative;margin-right: 35px;text-align: center;width: 250px;height: 250px;line-height: 250px;-ms-flex-negative: 0;flex-shrink: 0;}
.products-list .item .product-img {display: flex;height: 100%;position: relative;background: #fff;}
.products-list .item .product-image img {
  display: block;
  margin: auto;  
  max-width: 100%;
  max-height: 100%
}
.products-list .item [class^=ico] {position: static;}
.products-list .item [class^=ico]:last-child {margin-right: 0}
.products-list .item .product-shop {margin-left: auto;margin-right: 10px;;min-width: 162px;padding-left: 15px;display: flex;flex-direction: column;padding-right: 0px;width: auto;-webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1;-ms-flex-negative: 0;flex-shrink: 0;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;justify-content: center;    border-left: 1px solid rgb(206 197 191 / 20%);margin-top: 0px;margin-bottom: 0px;}

.products-list .item .product-content {display: flex;flex-grow: 1;}

.products-list .item .product-name {max-width: 100%;margin-right: 14px;;width: 100%;padding: 10px 0;margin-bottom: 0;font-size: 18px;font-weight: 400;line-height: 1;text-transform: none;}
.products-list .item .product-name > a {display: block;overflow: hidden;max-height: 45px;font-size: 18px;line-height: 1.3;text-transform: uppercase;}
.products-list .item .product-name > a:hover {color: #caa462}
.products-list .item .product-name-content {margin-top: 15px;;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}

.products-list .item .product-name-attr {
  margin-top: 15px;
}
.products-list .item .attr-button {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.products-list .item .attr-button._active {
  margin-top: 15px;
}
.products-list .item .attr-button-icon {
  margin-left: 6px;
  font-family: 'Material Icons';
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-style: normal;
  text-align: center;
}
.products-list .item .attr-button-icon::before {
  content: "keyboard_arrow_down";
}
.products-list .item .attr-button._active .attr-button-icon::before {
  content: "keyboard_arrow_up";
}

.products-list .item .attr-list {
  display: none;
  font-size: 14px;
}
.products-list .item .attr-list .name {
  color: #555051;  
  margin-right: 5px;
}
.products-list .item .attr-list .attr {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: -1px;
  padding: 11px 0;
  border-top: 1px solid rgb(206 197 191 / 20%);
  border-bottom: 1px solid rgb(206 197 191 / 20%);
}
.products-list .item .attr-list .attr:last-child {margin-bottom: 0;}

.products-list .item .art-number {font-size: 14px;margin-top: 0;margin-left: 25px;}

.products-list .item .ratings {position: relative;padding: 0;margin: 0;background: none;background: transparent;border-color: transparent;width: auto;height: auto;padding: 0;padding-right: 0;border-radius: 25px;}
.products-list .item .ratings._hide {display: none;}

.products-list .item .product-rest._available .material-icons {
  color: #caa462;
}
.products-list .item .product-rest._not-available {
  opacity: .5;
}
.products-list .item .product-rest._not-available .material-icons {
  color: #cec5bf;
}
.products-list .item .product-rest .material-icons {
  font-size: 14px;
  line-height: 14px;
  margin-right: 4px;
}
.products-list .item .product-rest {
  display: flex;
  align-items: center;
  margin-left: 25px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #cec5bf;
  white-space: nowrap;
}


.products-list .total-good {
  text-align: center;
  margin-top: 15px;
}

.products-list .total-good-title {
  display: block;
}
.products-list .total-good .price {
  color: #cec5bf;
  font-size: 14px;
  font-weight: 700;
}
@media (max-width: 641px) {
  .products-list .total-good {display: none;}  
}
.products-list .item .product-shop .desc {font-size: 14px;line-height: 1.5;color: #777;padding-left: 15px;}
.products-list .item .product-shop .desc p {max-height: 60px;overflow: hidden;}
.products-list .item .product-shop .price-box {display: flex;flex-direction: column-reverse;align-items: center;flex-shrink: 0;}
.products-list .item .product-shop .price-box .price {
  color: #cec5bf;
  font-size: 22px;
}
.products-list .item .product-shop .price-box .price > span:after {
  font-size: 22px;
}
.products-list .item .product-shop .price-box .old-price {
  color: #cec5bf;
  font-size: 16px;
  opacity: 0.3;  
  margin-right: 0px;  
  margin-top: 12px;
}
.products-list .item .product-shop .price-box .old-price > span:after {
  font-size: 16px;
}
.products-list .item .product-shop .quickviewmod {max-width: 100%;font-size: 16px;height: 40px;}
.products-list .item .product-shop .quickviewmod .fal {display: none;}
.products-list .item .product-shop .quickviewmod span {height: 100%;display: flex;justify-content: center;align-items: center;}

.products-list .item .product-shop .actions {width: 100%;;display: flex;flex-direction: column;align-items: center;margin-top: 15px;}
.products-list .item .product-shop .actions .add-cart:not(.quick) {font-size: 16px;height: 40px;}
.products-list .item .product-shop .actions .add-cart span {height: 100%;display: flex;justify-content: center;align-items: center;}
.products-list .item .product-shop .actions .add-cart.quick {display: none;width: 100%;margin-top: 5px;color: #caa462;text-decoration: underline}
.products-list .item .product-shop .actions .add-cart.quick:hover {color: #caa462}

@media (max-width: 375px){
  .products-list .item .product-shop .actions {
    align-items: flex-start;
  }
  .products-list .item .product-shop .actions .add-cart:not(.quick),
  .products-list .item .product-shop .quickviewmod {
    width: auto;
  }
}

.products-list .qty-wrap {
  width: 100%;
  height: 40px;
  background: transparent;
  border: 1px solid rgb(206 197 191 / 50%);
  margin-bottom: 20px;
  margin-right: 0;
}
.products-list .qty-set > a {
  width: auto;
  height: 38px;
  line-height: 38px;
  padding: 0 13px;
}
.products-list .qty-set > a .material-icons {
  line-height: 38px;
}
.products-list input.quantity {
  color: #cec5bf;
  height: 38px;
}
@media (max-width: 375px){
  .products-list .qty-wrap {
    width: 100px;
    margin-bottom: 10px;
  }
  .products-list .qty-set > a {
    padding: 0 8px;
  }
  .products-list .qty-set > a .material-icons {
    font-size: 14px;
  }
}


.products-list .item .quickview {display: none;position: absolute;top: 35px;left: 30px;background-color: #f3f3f5;border-radius: 2px;width: 30px;height: 30px;line-height: 30px;visibility: hidden;opacity: 0;-webkit-transition: all .3s;transition: all .3s}
.products-list .item .product-image:hover .quickview {visibility: visible;opacity: 1}
.products-list .item .quickview:before {content: '\f00e'; font-family: 'FontAwesome'}
.products-list .item .quickview span {display: none}

.products-list .item .product-descr {max-height: 50px;overflow: hidden;color: #cec5bf;font-size: 14px;line-height: 18px;opacity: .5;margin-bottom: 15px;}

.products-list .item .product-icons {position: static;z-index: 1;margin-top: 15px;padding-top: 15px;border-top: 1px solid rgb(206 197 191 / 20%);}
.products-list .item .product-icons-inner {display: flex;}
.products-list .item .product-ico {display: block;width: auto;margin: 0;font-size: 15px;text-align: center;background-color: transparent;z-index: 1;transition: .1s all;}
.products-list .item .product-ico .material-icons,
.products-list .item .product-ico .material-icons-outlined {vertical-align: middle;font-size: 17px;}
.products-list .item .product-ico.added,.products-list .item .product-ico:hover {color: #caa462}
.products-list .item .product-ico.added {border-color: #caa462;}

.products-list .item .product-ico.add-compare {
  margin-right: 25px;
}
.products-list .item .product-ico.add-compare::after {
  content: 'Сравнить';
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  font-size: 14px;
}
.products-list .item .product-ico.add-wishlist::after {
  content: 'Избранное';
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  font-size: 14px;
}
.products-list .item.empty .product-shop .actions .empty {
  flex-shrink: 0;
  max-width: 100%;
  width: 100%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  line-height: 36px;
  padding: 0 5px;
  font-size: 16px;
  border: 1px solid rgb(206 197 191 / 20%);
  background-color: transparent;
  cursor: default;
  border-radius: 0px;
  cursor: pointer;
  transition: all .3s ease;  
}
.products-list .item.empty .product-shop .actions .empty:hover {
  border: 1px solid rgb(206 197 191 / 100%);
}
@media all and (max-width: 1199px) {
  .products-list .item .product-image {
    width: 202px;
    height: 202px;
    line-height: 202px;
  }
  .products-list .item .product-ico {margin: 0}
  .products-list .item .product-shop {padding-right: 0px}
  .products-list .item .product-shop .actions {max-width: 143px;min-width: auto}  
}
@media all and (max-width: 767px) {  
  .products-list .item .product-shop {min-width: 160px;}
  .view-mode {margin-left: auto;}
  .sort-by select {max-width: 200px;}
  .sort-by label {margin-right: 0;}
}
@media all and (max-width: 641px) {
  .show-by label {display: none}
  .products-list .item .product-shop {
    width: 100%;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;
    margin: 0;
    border-left: 0;
    padding-left: 0;
  }
  .products-list .item .product-name-attr {
    display: none;
  }
  .products-list .item .product-image {
    margin-right: 20px;
  }  
  .products-list .item .product-content {
    flex-direction: column;
  }
  .products-list .item .product-name {
    margin-right: 0;
  }
  .products-list .item .product-name-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .products-list .item .ratings._show + .art-number {
    margin-left: 0;
  }
  .products-list .item .product-shop .price-box {flex-direction: row-reverse;}
  .products-list .item .product-shop .price-box .old-price {margin-top: 0;margin-left: 15px;}
  .products-list .item .product-shop .price-box .price > span:after {
    font-size: 16px;
  }  
  .products-list .item .product-image {
    width: 138px;
    height: 138px;
  }
  .products-list .item .product-ico.add-wishlist::after {
    display: none;
  }
  .products-list .item .product-ico.add-compare::after {
    display: none;
  }
}
@media all and (max-width: 550px) {
  /* .toolbar._top .show-by {margin-left: 0;} */
  /* .sort-by {    width: 100%;  } */
  .show-by {
    margin-left: 0;
  }
  .view-mode {
    margin-top: 13px;
    margin-left: 0;
    width: 100%;
  }
  .view-mode .view-mode-btn.active {
    border-color: #caa462;    
  }
  .view-mode .view-mode-btn {
    width: 40px;
    height: 40px;
    border: 1px solid #cec5bf;
  }
  .filters._toolbar {
    height: 0;
    margin-top: 0;
  }
  .filters._toolbar._active {
    height: auto;
    margin-top: 27px;
  }
  .filters._toolbar._active .filters-btn {
    bottom: calc(100% + 27px);
  }
  .filters._toolbar._active .filters-btn {

  }
  .filters-btn {
    position: absolute;
    bottom: 100%;
    right: 0;
    width: 120px;
    height: 40px;
  }
  .filters-btn-inner {
    justify-content: center;
    padding-left: 0;
  }
}
@media all and (max-width: 481px) {   
  .sort-by label {
    display: none;
  } 
  .toolbar.bottom .pages {-webkit-box-ordinal-group: 2;-ms-flex-order: 1;order: 1;margin: auto;margin-top: 0;padding: 0}

  .products-list .item [class^=ico]:last-of-type {margin-right: 0}
  .products-list .item .ratings {margin-left: 0px}

  .products-list .item .product-icons {-webkit-box-ordinal-group: 2;-ms-flex-order: 1;order: 1;position: static;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-direction: row;flex-direction: row;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center}
  .products-list .item.empty .product-shop .actions .empty {
    padding: 0 20px;
    max-width: 100%;
    width: auto;
    align-self: flex-start;
  }
}
@media all and (max-width: 375px) {
  .products-list .item .product-shop .price-box {
    flex-direction: column-reverse;
  }
  .products-list .item .product-shop .price-box .old-price {margin-top: 15px;margin-left: 0;}
  .products-list .item .product-image {
    width: 120px;
    height: 120px;
  }
}  