/*! Слайдер ***/
#slideshow {position: relative;min-height: 70px;padding-top: 30px;padding-bottom: 35px;}
#slideshow .slider {border-radius: 0px;overflow: hidden}
#slideshow .slider-item {width: 100%;position: relative}
#slideshow .slider-item:not(:first-child) {display: none}
#slideshow .owl-loaded .item {display: block}
#slideshow .slider-image {width: 555px;height: 595px;margin-left: auto;background-size: cover;background-repeat: no-repeat;background-position: right center}
#slideshow .container {
  position: relative;
}
#slideshow .container .slider-content {
  position: absolute;top: 0;left: 0;right: 0;bottom:0;padding: 5.4%;
  display: flex;
  flex-direction: column;
}
#slideshow .container .slider-content .slider-title {letter-spacing: 0;font-size: 55px;line-height: 1;font-weight: 400;color: #cec5bf;text-transform: uppercase;}
#slideshow .container .slider-content .slider-title::before {
  content: '';
  width: 420px;
  height: 420px;
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 2%;
  background-image: url('{ASSETS_IMAGES_PATH}ellips.svg');
}
#slideshow .container .slider-content .slider-text {margin-top: 30px;margin-bottom: 0;font-size: 16px;line-height: 18px;color: #cec5bf;}
#slideshow .container .slider-content .button {display: inline-block;margin-top: auto;margin-left: auto;font-size: 16px;}
.slider-counter {
  position: absolute;
  z-index: 1;
  top: auto;
  bottom: 25px;
  left: 0;
  margin-left: 25px;
}

.slider-banners {
  display: flex;
  position: absolute;
  z-index: 1;
  bottom: 70px;
}

.slider-banner-item {
  position: relative;
  margin-right: 80px;
}
.slider-banner-item:hover .slider-banner-name{
  opacity: 1;
}
.slider-banner-name {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #201e22;
  opacity: 0;  
  transition: all .3s ease;
  background-color: rgba(202, 164, 98, .6);
  cursor: pointer;
}
.slider-banner-item:hover::before {
  left: 7px;
  bottom: -7px;
}
.slider-banner-item::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  padding: 0 20px;
  border: 1px solid transparent;
  transition: all .3s;
  border: 1px solid #caa462;  
}
#slideshow .owl-dots {display: inline-block;position: absolute;top: auto;bottom: 25px;left: 0;right: auto;width: auto;text-align: center;padding: 0;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-tap-highlight-color: transparent}
#slideshow:hover .owl-dots {opacity: 1}
#slideshow .owl-dots .owl-dot {display: inline-block;zoom: 1}
#slideshow .owl-dots .owl-dot span {display: block;position: relative;width: 55px;margin: 0;height: 3px;padding: 5px 0;}
#slideshow .owl-dots .owl-dot span::after {content: '';display: block;height: 1px;top: 0;position: relative;width: 100%;background: #4f4c4b;}
#slideshow .owl-dots .owl-dot.active span::after {position: relative;top: -1px;;height: 3px;background: #fff;}
#slideshow .owl-dots .owl-dot:hover span::after {background: #fff}

#slideshow .owl-nav .owl-next,
#slideshow .owl-nav .owl-prev {opacity: 0;position: absolute;z-index: 1;top: 50%;width: 35px;height: 35px;margin-top: -25px;font-size: 30px;line-height: 37px;text-align: center;color: #2e2e2e;background: #fff;border-radius: 5px;cursor: pointer;-webkit-transition: all .3s ease;transition: all .3s ease}
#slideshow .slider:hover .owl-next,
#slideshow .slider:hover .owl-prev {opacity: 0}
#slideshow .owl-nav .owl-prev {left: 15px}
#slideshow .owl-nav .owl-next {right: 15px}
#slideshow .owl-nav .owl-next:hover,
#slideshow .owl-nav .owl-prev:hover {color: #fff;background: #398f93}
@media (max-width:991px) {
  .slider-banners  {
    display: none;
  }
  #slideshow .container .slider-content {
    padding-left: 0;
  }
  #slideshow .container .slider-content .slider-title {
    font-size: 40px;
    margin-top: auto;    
  }
  #slideshow .container .slider-content .slider-text {margin-top: 15px}
  #slideshow .slider-image {width: 420px;height: 450px;background-position: left center}
  #slideshow .owl-nav {display: none}
}
@media (max-width: 767px) {
  #slideshow .container .slider-content .slider-title {font-size: 22px;padding: 20px 0;padding-left: 23px;max-width: 300px;background-color: rgba(0,0,0,.7);}
  #slideshow .container .slider-content .slider-text {margin-top: 0;font-size: 16px;padding-left: 23px;padding-bottom: 20px;max-width: 300px;background-color: rgba(0,0,0,.7);}  
}
@media (max-width:481px) {
  #slideshow {padding-top: 0;}
  #slideshow .slider-image {width: auto;}
  #slideshow .slider-image {background-position: center top;margin-left: 0;}

  #slideshow .owl-nav .owl-prev {left: 0}
  #slideshow .owl-nav .owl-next {right: 0}
  #slideshow .owl-dots {position: static;margin-top: 10px;}
  .slider-counter {bottom: 0px;}
}
/*! Преимущества ***/
#features .container {border-bottom: 1px solid #575454;border-top: 1px solid #575454}
#features .main-featuresItem {display: block;margin-bottom: 4px;text-align: center}
#features .main-featuresInner {height: 100%;padding: 40px 0px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
#features .main-featuresInner {
  max-width: 250px;
}
#features .main-featuresContent {padding-left: 15px;text-align: left}
#features .main-featuresTitle {font-size: 16px;font-weight: 300;margin-bottom: 0px}
#features .main-featuresIcon {width: 65px;height: 65px;-ms-flex-negative: 0;flex-shrink: 0;-webkit-transition: all .3s ease;transition: all .3s ease;}

#features .features-list .owl-stage {display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap}
#features .features-list .owl-stage-outer {overflow: visible}
#features .features-list .main-featuresItem {margin-bottom: 0;height: 100%}
#features .owl-dots:not(.disabled) {display: block;float: right;margin: 5px auto;position: static;width: auto;text-align: right;padding: 2px 2px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-tap-highlight-color: transparent;background-color: rgba(42,48,52,.5)}
#features .owl-dots .owl-dot {display: inline-block;zoom: 1}
#features .owl-dots .owl-dot span {display: block;position: relative;width: 8px;height: 8px;border-radius: 100%;background: #fff;margin: 0 2px}
@media (max-width:1199px) {
  #features .main-featuresItem {margin-bottom: 20px}
}
@media (max-width:991px) {
  #features .main-featuresInner {
    max-width: 290px;
  }
}
@media (max-width: 767px) {
  
}
@media (max-width:481px) {
  #features .main-featuresInner { max-width: 230px;}
}
/*! Табы товаров */
#producttabs {margin-bottom: -10px;content-visibility: auto;padding-bottom: 50px}
#producttabs .products-container {display: none;width: 100%}
#producttabs .tab-content-actived {display: inline-block}
#producttabs .pdt-nav {display: -webkit-box;display: -ms-flexbox;display: flex}
#producttabs .pdt-nav-wrap {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;position: relative;margin-top: 0;margin-bottom: 20px;width: auto;text-align: left;padding: 0;list-style: none}
#producttabs .pdt-nav-wrap:after {content: '';display: block;height: 2px;width: 100%;position: absolute;top: 100%;background: #f0f0f0}
#producttabs .pdt-nav li {position: relative;z-index: 2;display: inline-block;margin-right: 35px;margin-bottom: 10px;cursor: pointer;position: relative;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-transition: .3s color;transition: .3s color;white-space: nowrap}
#producttabs .pdt-nav li:last-child {margin-right: 0}
#producttabs .pdt-nav li span {display: inline-block;position: relative;font-size: 24px;color: #2e2e2e;padding-bottom: 0;font-family: Raleway,Arial,sans-serif;font-weight: 700;-webkit-transition: all .3s ease;transition: all .3s ease}
#producttabs .pdt-nav li span:hover {color: #398f93}
#producttabs .pdt-nav li.tab-nav-actived,
#producttabs .pdt-nav li:hover {cursor: pointer;font-weight: 500}
#producttabs .pdt-nav li:hover span {color: #398f93}
#producttabs .pdt-nav li.tab-nav-actived span {width: 100%;color: #398f93}
@media(max-width:767px) {
  #producttabs .pdt-nav li span {font-size: 20px}
  #producttabs .pdt-nav-wrap:after {display: none}
  #producttabs .pdt-nav-wrap {overflow: auto}
  #producttabs .nav-splitter {display: none}
}
/*! Описание на главной ***/
#main._index .DescriptionBlock p:last-child {margin-bottom: 0;}
#main._index .DescriptionBlock .htmlDataBlock {padding-left: 50px;position: relative;}
#main._index .DescriptionBlock .htmlDataBlock::before {
  content: '';
  width: 30px;
  height: 1px;
  background: #cec5bf;  
  position: absolute;
  top: 7px;
  left: 0;
  opacity: .3;
}
#main._index .row {align-items: center;}
@media(max-width:767px) {
  #main._index .DescriptionBlock .htmlDataBlock {
    padding-left: 0;
  }
  #main._index .DescriptionBlock .htmlDataBlock::before {
    display: none;
  }
}
/*! Бренды ***/
.brands {
  position: relative;
  max-width: 265px;
  margin-left: auto;
}
.brands::before {
  content: '';
  width: 420px;
  height: 420px;
  display: block;
  position: absolute;
  top: -50%;
  right: 0;
  background-image: url('{ASSETS_IMAGES_PATH}ellips.svg');
}
.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 70px;
  padding: 10px;
  background: #302e33;
}
.brand:nth-child(2) {
  margin-top: 15px;
}
.brand .brand-link {
  display: flex;
  width: 100%;
  height: 100%;  
}
.brand .brand-link .brand-image {
  width: auto;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  filter: grayscale(100%);
  transition: all .3s ease;
}
.brand .brand-link .brand-image:hover {
  filter: none;
}
.brands-navigation {
  display: flex;
}

.brands-navigation .owl-prev,
.brands-navigation .owl-next {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: auto;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #b7b7b7;
  fill: rgb(206 197 191 / .2);
  user-select: none;
}
.brands-navigation .owl-next:hover, .brands-navigation .owl-prev:hover {
  fill: rgb(206 197 191 / 1);
}
.brands-title {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 22px;
}

.brands-navigation .owl-next {
  margin-left: 20px;
}
@media (max-width: 991px){
  .brands {
    max-width: 100%;
    margin-top: 40px;
  }
  .brands::before {
    top: auto;
    bottom: 100%;
    right: -30%;    
  }
  .brand {
    width: 100%;
  }
}
/*! Новости ***/
#news {
  margin-top: 35px;
  padding: 70px 0;
  content-visibility: auto;
  background: linear-gradient(to right, #212121 0%,#302e33 50%,#212121 100%);  
}
#news .preloader {display: none!important}
.block-title .navigation.disabled {visibility: hidden;}
/* #news .owl-carousel .owl-stage-outer {overflow: visible} */
#news .owl-item:hover {z-index: 20}
#news .block-bg {position: relative}
/*  */
#news .block-news.all .item._first {
  width: 550px;
}
#news .block-news.all .item {
  width: 263px;
}
/*  */
#news .block-news .item {position: relative;padding: 0;background: #1e1d21;border-radius: 0px;border: 0;}
#news .block-news .item:hover {border-color: #fff;-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.15);box-shadow: 0 0 20px 0 rgba(0,0,0,.15);z-index: 20}

#news .block-news .item:hover::before {border-color: #caa462;border-radius: 5px;top: -12px;left: -12px;right: -12px;bottom: -10px;-webkit-box-shadow: 0 20px 60px rgba(156,158,158,.5);box-shadow: 0 20px 60px rgba(156,158,158,.5);z-index: 20}
#news .block-news .post-content {position: relative;padding: 15px;text-align: center;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;z-index: 19;-webkit-transition: .3s;transition: .3s}
#news .block-news .item:hover .post-content {z-index: 21}
#news .block-title {margin-bottom: 30px}
#news .block-title .title {-webkit-box-shadow: none;box-shadow: none}
#news .block-news .title {min-height: auto;margin-bottom: 9px;border: 0;text-align: left;}
#news .block-news .post-content .title a {display: block;overflow: hidden;line-height: 20px;font-size: 16px;font-weight: 500;color: #cec5bf;margin-bottom: 5px;height: 40px;}
#news .block-news .post-content .title a:hover {color: #caa462}
#news .block-news .post-content .news-image-wrap {display: block;height: 200px;overflow: hidden;border-radius: 0px;margin-bottom: 0px;background-size: cover;background-repeat: no-repeat;background-position: center;}
#news .block-news .post-body {
  padding: 15px;
}
#news .block-news .post-content {
  padding: 0;
}
#news .block-news .owl-item:nth-child(even) .item:not(._first) .post-content {
  display: flex;
  flex-direction: column-reverse;
}
#news .block-news .news-image {display: block;width: auto;max-width: 100%;max-height: 100%;margin: auto}
#news .block-news .date {display: block;max-width: 145px;margin: 0;font-size: 14px;text-align: left;font-weight: 400;margin-bottom: 10px;border-radius: 5px;color: #cec5bf;opacity: .3;font-family: 'Ubuntu',sans-serif;}
#news .block-news .description {font-size: 14px;padding: 0;margin-bottom: 15px;height: 80px;overflow: hidden;text-align: left;color: #cec5bf;opacity: .3;}
#news .block-news .description > p {margin: 0}
#news .block-news .news-button {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 14px;
}
#news .block-news .news-button:hover {
  color: #caa462;
}
#news .block-news .news-button-icon {
  margin-left: 5px;
  font-size: 15px;
}
#news .block-news .button {max-width: 145px;margin: auto}
#news .tabs-headerList {display: inline-block;vertical-align: middle;position: relative}
#news .tabs-headerList-wrap {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center}
#news .tabs-headerList-wrap::after {content: '';display: block;height: 2px;width: 100%;position: absolute;top: 100%;background: #f0f0f0}
#news .tabs-headerList .tabs-headerItem {display: inline-block;vertical-align: middle;margin-right: 35px;margin-bottom: 10px}
#news .tabs-headerList .tabs-headerItem:last-child {margin-right: 0}
#news .tabs-headerList .tabs-headerItem:last-child {padding-right: 0}
#news .tabs-headerList .tabs-headerItem .tabs-headerLink {font-size: 24px;font-weight: 700;z-index: 2;display: inline-block;margin-right: 0;cursor: pointer;position: relative;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-transition: color .3s ease 0s;transition: color .3s ease 0s}
#news .tabs-headerList .tabs-headerItem:hover .tabs-headerLink {color: #398f93}
#news .tabs-headerList .tabs-headerItem.active .tabs-headerLink {color: #398f93}
#news .tabs-body {position: relative}
#news .tabs-body .tabs-content {display: none}
#news .tabs-body .tabs-content.active {display: block}
.nojs #news .preloader {display: none}
.nojs #news .block-news .item {width: 20%}
@media (max-width: 1199px) {
  #news .block-news.all .item._first {
    width: 455px;
  }
  #news .block-news.all .item {
    width: 212px;
  }
}
@media (max-width: 991px) {
  #news .block-news.all .item._first {
    width: auto;
  }
  #news .block-news.all .item {
    width: auto;
  }
}
@media (max-width:767px) {
  #news .tabs-headerList-wrap {-ms-flex-wrap: wrap;flex-wrap: wrap}
  #news .tabs-headerList .tabs-headerItem .tabs-headerLink {font-size: 20px}
  #news .tabs-headerList .tabs-headerItem {margin-right: 15px}
  #news .nav-splitter {display: none}
  #news .tabs-headerList-wrap::after {display: none}
}
@media (max-width:481px) {
  #news .tabs-headerList .tabs-headerItem .tabs-headerLink {font-size: 18px}
}